{% extends 'base_user_connecte.html.twig' %}

{% block title %}{{ parent() }} - Hello DefaultController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#ICI JE RAJOUTERAIS MON CSS SPECIFIQUE#}
{% endblock %}

{% block body %}
    {{ parent() }}

    Bonjour {{ app.user.firstname }} {{ app.user.lastname }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Home</h1>
  <nav>
      <a href="{{ path('default') }}">Home</a>


  </nav>
</div>

    {% set htmlVar = 'aurelien' %}




    {{ htmlVar|upper }}
{% endblock %}
