{% extends 'base.html.twig' %}

{% block title %}Détail de l'activité!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Activité n° {{ activite.id }}! ✅</h1>

        Nom : {{ activite.nom }}
        <br>
        <a href="{{ path('activity') }}">Retour</a>
    </div>
{% endblock %}
