{% extends 'base.html.twig' %}

{% block title %}Editer l'activite {{ activite.nom }}!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {{ form_start(activiteForm) }}

    {{ form_end(activiteForm) }}

    {% for error in activiteForm.vars.errors.form.getErrors(true) %}
        <li>{{ error.message }}</li>
    {% endfor %}

{% endblock body %}