{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Toutes les activités disponible !! ✅</h1>
        <a href="{{ path('activity_add') }}">Ajouter une activité</a>
    <ul>
        {% for activite in activites %}
            <li><a href="{{ path('activity_getone', {'activite': activite.id}) }}"> {{ activite.id }} - {{ activite.nom }}</a>
            <a href="{{ path('activity_update', {'activite': activite.id}) }}">Editer</a>
                <a href="{{ path('activity_delete', {'activite': activite.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        {% if nbPage != 0 %}
        <p>Pagination : </p>
        {% dump(nbPage) %}
        {% for i in 1..nbPage %}
            <a href="{{ path('activity_paginate', {'page': i}) }}">Page {{ i }}</a>
        {% endfor %}
        {% else %}
        Aucun resultat !
        {% endif %}
    </div>
</div>
{% endblock %}
