{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Résultat de la recherche {{ searchString }} !! ✅</h1>
        <h2>Nombre de résultats : {{ activites|length }}</h2>
        <ul>
            {% for activite in activites %}
                <li><a href="{{ path('activity_getone', {'activite': activite.id}) }}"> {{ activite.id }} - {{ activite.nom }}</a>
                    <a href="{{ path('activity_update', {'activite': activite.id}) }}">Editer</a>
                    <a href="{{ path('activity_delete', {'activite': activite.id}) }}">Supprimer</a>
                </li>
            {% endfor %}
        </ul>

        {% if(activites|length == 0) %}
        <p>Aucun résultat !!!</p>
        {% endif %}

    </div>


{% endblock %}
