<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('stylesheets/bootstrap.css') }}">
    {% endblock %}
</head>
<body>

{% block connectedUser %}
{% endblock %}

{% block body %}
    toto
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/bootstrap.js') }}"></script>
{% endblock %}

{% include 'parts/footer.html.twig' %}
</body>
</html>
