{% extends 'base.html.twig' %}

{% block title %}Destination index{% endblock %}

{% block body %}
    <h1>Destination index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Type</th>
                <th>Pays</th>
                <th>DateOuverture</th>
                <th>NbStar</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td>{{ destination.id }}</td>
                <td>{{ destination.lieu }}</td>
                <td>{{ destination.type }}</td>
                <td>{{ destination.pays }}</td>
                <td>{{ destination.dateOuverture ? destination.dateOuverture|date('Y-m-d') : '' }}</td>
                <td>{{ destination.nbStar }}</td>
                <td>
                    <a href="{{ path('destination_show', {'id': destination.id}) }}">show</a>
                    <a href="{{ path('destination_edit', {'id': destination.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('destination_new') }}">Create new</a>
{% endblock %}
