{% extends 'base.html.twig' %}

{% block title %}Destination{% endblock %}

{% block body %}
    <h1>Destination</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ destination.id }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ destination.lieu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ destination.type }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ destination.pays }}</td>
            </tr>
            <tr>
                <th>DateOuverture</th>
                <td>{{ destination.dateOuverture ? destination.dateOuverture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NbStar</th>
                <td>{{ destination.nbStar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('destination_index') }}">back to list</a>

    <a href="{{ path('destination_edit', {'id': destination.id}) }}">edit</a>

    {{ include('destination/_delete_form.html.twig') }}
{% endblock %}
